version: "3.9"

services:
  database: #ESSE É O NOME DO SERVICE QUE DEVE ESTAR NO ARQUIVO DE CRIAÇÃO DE CONEXÃO
    image: postgres
    container_name: database_ignite
    restart: always
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=ignite
      - POSTGRES_DB=rentx
    volumes:
      - pgdata:/data/postgres


  app:
    build: .
    container_name: rentx
    restart: always
    ports: 
      - 3333:3333
      - 9229:9229 #Você pode inserir essa porta tbm pra poder usar o debug
    volumes: 
      - .:/usr/app
    links: 
      - database
    depends_on:
      - database
    
  rentx_pgadmin:
    image: dpage/pgadmin4
    container_name: rentx_pgadmin
    restart: always
    ports:
      - 5051:80
    environment:
      PGADMIN_DEFAULT_EMAIL: icarodavi@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 123456
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0




volumes:
  pgdata:
    driver: local





# version: "3.7"

# services:
  
#   pg:
#     image: postgres
#     container_name: pg
#     restart: always
#     ports:
#       - 5432:5432
#     environment:
#       - POSTGRES_USER=root
#       - POSTGRES_PASSWORD=admin
#       - POSTGRES_DB=rentx
#     volumes:
#       - ./data/db:/var/lib/postgresql/data
#     # network_mode: host
    
  
#   app:
#     build: .
#     container_name: rentx
#     ports:
#       - 3333:3333
#     volumes:
#       - .:/usr/app
#     depends_on:
#       - serviceName: pg
    # network_mode: host

    # environment:
    #   - MYSQL_HOST=mysql
    #   - MYSQL_PORT=3306
    #   - MYSQL_USER=root
    #   - MYSQL_PASSWORD=root
    #   - MYSQL_DATABASE=test
    #   - MYSQL_CHARSET=utf8
    #   - MYSQL_COLLATION=utf8_unicode_ci
    #   - MYSQL_MAX_POOL=10
    #   - MYSQL_MAX_IDLE_TIME=30
    #   - MYSQL_MAX_LIFETIME=1800
    #   - MYSQL_MAX_CONNECTION_LIFETIME=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CLIENT=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME_CLIENT=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CONSUMER=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME_CONSUMER=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CONSUMER_PER_HOST=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME_CONSUMER_PER_HOST=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CONSUMER_PER_HOST_PER_PORT=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME_CONSUMER_PER_HOST_PER_PORT=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CONSUMER_PER_HOST_PER_PORT_PER_USER=0
    #   - MYSQL_MAX_CONNECTION_IDLE_TIME_CONSUMER_PER_HOST_PER_PORT_PER_USER=0
    #   - MYSQL_MAX_CONNECTION_LIFETIME_CONSUMER_PER_HOST_PER_PORT_PER_USER_PER_DB=

  # name: "{{.Name}}"
  #   image: "{{.Image}}"
  #   ports:
  #     - "{{.Port}}:{{.Port}}"
  #   environment:
  #     - "{{.Env}}"
  #   volumes:
  #     - "{{.Volume}}:/data"
  #   networks:
  #     - "{{.Network}}"
  #   restart: always
  #   labels:
  #     - "{{.Label}}"
  #   depends_on:
  #     - "{{.DependsOn}}"
  #   expose:
  #     - "{{.Expose}}"
  #   command:
  #     - "{{.Command}}"
  #   user: "{{.User}}"
  #   working_dir: "{{.WorkingDir}}"
  #   entrypoint: "{{.Entrypoint}}"
  #   hostname: "{{.Hostname}}"
  #   domainname: "{{.Domainname}}"
  #   mem_limit: "{{.MemLimit}}"
  #   memswap_limit: "{{.MemswapLimit}}"
  #   cpu_quota: "{{.CpuQuota}}"
  #   cpu_period: "{{.CpuPeriod}}"
  #   cpus: "{{.Cpus}}"
  #   cpu_shares: "{{.CpuShares}}"
  #   host_config:
  #     - "{{.HostConfig}}"
  #   tty: "{{.Tty}}"
  #   stdin_open: "{{.StdinOpen}}"
  #   dns: "{{.Dns}}"
  #   dns_search: "{{.DnsSearch}}"
  #   extra_hosts: "{{.ExtraHosts}}"
  #   links: "{{.Links}}"
  #   security_opt: "{{.SecurityOpt}}"
  #   ipc_mode: "{{.IpcMode}}"
  #   pid_mode: "{{.PidMode}}"
  #   privileged: "{{.Privileged}}"
  #   cap_add: "{{.CapAdd}}"
  #   cap_drop: "{{.CapDrop}}"
  #   restart_policy: "{{.RestartPolicy}}"
  #   restart_retries: "{{.RestartRetries}}"
  #   devices: "
# volumes:
#   pgdata:
#     driver: local